$primaryTextColor: #757575;
$secondaryTextColor: #ffffff;
$accentColor: #2196f3;
$logoTextColor: #000000;
$primaryBcgColor: #ffffff;
$footerTextColor: rgba(255, 255, 255, 0.6);
$sectionBcgColor: #f5f5f5;
$titleTextColor: #212121;
$secondaryBcgColor: #2f303a;
$buttonOrderActive: #188ce8;
$buttonPrimaryShadow: rgba(0, 0, 0, 0.15);
$tertiaryBcgColor: #f5f4fa;
$iconText: #afb1b8;
$borderColor: #ececec;
$projectsBorderColor: #eeeeee;
$transitionTimeFunction: cubic-bezier(0.4, 0, 0.2, 1);
$modalBcgOverlayColor: rgba(0, 0, 0, 0.2);
$workLabelBcgColor: rgba(47, 48, 58, 0.8);
$modalButtonBorder: rgba(0, 0, 0, 0.1);
$inputBorderColor: rgba(33, 33, 33, 0.2);
$formCommentColor: rgba(117, 117, 117, 0.5);
$footerBorderColor: rgba(255, 255, 255, 0.3);
