.contact {
  @extend %list;
  gap: 40px;

  &__link {
    @extend %link;
    @include centerFlex();
    margin-left: auto;
    justify-content: center;
    align-items: center;
    min-width: 135px;
    color: $primaryTextColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  &__link:hover,
  &__link:focus {
    color: $accentColor;
    transition: color 250ms $transitionTimeFunction;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__icon:hover,
  &__icon:focus {
    fill: currentColor;
    transition: fill 250ms $transitionTimeFunction;
  }
}
