.page-header {
  border-bottom: 1px solid $borderColor;

  @media screen and(min-width: $tabletScreen) {
    max-height: 80px;
  }

  &__box {
    @include centerFlex(flex);
    justify-content: space-between;
    align-items: center;

    @media screen and(max-width: ($tabletScreen - 1px)) {
      height: 60px;
      padding-top: 24px;
      padding-bottom: 25px;
    }

    @media screen and(min-width: $tabletScreen) {
      height: 80px;
    }
  }

  &__button {
    @include centerFlex(inline-flex);
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    fill: $titleTextColor;
    background-color: $primaryBcgColor;

    @media screen and (min-width: $tabletScreen) {
      display: none;
    }

    &__icon {
      color: $titleTextColor;
    }
  }
}

.container--page-header {
  @media screen and (min-width: $tabletScreen) {
    @include centerFlex(flex);
    align-items: center
  }
}

.page-header__button:hover .page-header__icon,
.page-header__button:focus .page-header__icon {
  fill: $accentColor;
  cursor: pointer;
}