.site-nav {
  &__list {
    @extend %list;
  }

  &__item {
    @include centerFlex(block);
    min-width: 45px;
  }

  &__item:first-child {
    margin-left: 93px;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    @extend %link;
    color: $titleTextColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  &__link:hover,
  &__link:focus {
    color: $accentColor;
    transition: color 250ms $transitionTimeFunction;
  }

  &__link.current {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 32px 0;
    color: $accentColor;
  }

  &__link.current:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accentColor;
  }
}
