.features {
  @extend %section;

  &__list {
    @extend %list;
    @include centerFlex(flex);
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    align-items: flex-start;
  }

  &__item {
    flex-basis: calc((100% - 90px) / 4);
  }

  &__container {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: $tertiaryBcgColor;
  }

  &__icon {
    margin: 25px 100px;
  }

  &__title {
    color: $titleTextColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
