.work {
  @extend %section;
  padding-top: 0;

  &__list {
    @extend %list;
    @include centerFlex(flex);
    flex-wrap: wrap;
    column-gap: 30px;
  }

  &__item {
    flex-basis: calc((100% - 90px) / 3);
  }

  &__label {
    position: relative;
  }

  &__text {
    @include centerFlex(flex);
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    height: 70px;
    color: $secondaryTextColor;
    background-color: $workLabelBcgColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}