.address {
  margin-right: auto;
  margin-left: auto;

  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 231px;
  height: 81px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  &__list {
    @extend %list;

    display: inline-block;


    @media screen and(min-width: $desktopScreen) {
      @include centerFlex(block);
    }
  }

  &__item:not(:last-child) {
    padding-bottom: 9px;
  }

  &__link {
    @extend %link;
    color: $footerTextColor;
    letter-spacing: inherit;
  }

  &__link--transition {
    color: $secondaryTextColor;
  }
}