.footer {
  background-color: $secondaryBcgColor;
  text-align: center;

  &__nav {
    @media screen and(min-width: $tabletScreen) {
      @include centerFlex(flex);
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 60px;
    }

    @media screen and(min-width: $desktopScreen) {
      align-items: baseline;
    }
  }
}

.container-footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width: $tabletScreen) {
    @include centerFlex(flex);
    flex-direction: column;
    max-width: $tabletScreen;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and(min-width: $desktopScreen) {
    flex-direction: row;
    max-width: $desktopScreen;
    justify-content: space-evenly;
    align-items: baseline;
  }
}