.footer {
  background-color: $secondaryBcgColor;
  text-align: center;
}

.container-footer {
  text-align: center;

  @media screen and(min-width: $desktopScreen) {
    @include centerFlex(flex);
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}