.form-footer {
    @include centerFlex(flex);
    gap: 12px;
    margin-left: auto;
    justify-content: center;
    align-items: flex-end;

    &__text {
        margin-bottom: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        letter-spacing: inherit;
        color: $secondaryTextColor;

        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            color: $footerTextColor;
        }
    }

    &__input {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        width: 358px;
        height: 50px;
        outline: none;
        resize: none;
        background-color: $secondaryBcgColor;
        border: 1px solid $footerBorderColor;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: $secondaryTextColor;
    }
}

.input-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    outline: none;
    resize: none;
    background-color: $secondaryBcgColor;
    border: 1px solid $footerBorderColor;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $secondaryTextColor;
}